TELOXIDE_TOKEN=your_telegram_bot_token
GITHUB_PAT=your_github_personal_access_token
GITHUB_OWNER=github_username_or_org
GITHUB_REPO=repository_name
# Comma-separated list of Telegram User IDs allowed to use the bot
ALLOWED_USER_IDS=12345678,98765432
